<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alpacaplayground.sorry">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/icon_app"
        android:label="Sorry动图合成"
        android:theme="@style/AppTheme" >
        <activity-alias
            android:name="Entrance"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".MainActivity"
            android:label="Sorry, 有钱就是可以大晒" />
        <!--选择模板列表-->
        <activity android:name=".templatelist.TemplateListActivity"
            android:label="选择模板"/>
        <activity android:name=".template.TemplateActivity" />
    </application>

</manifest>
