<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alpacaplayground.sorry">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SorryApplication"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--选择模板列表-->
        <activity android:name=".templatelist.TemplateListActivity" />
        <activity android:name=".template.TemplateActivity" />
    </application>

</manifest>
