<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.waterpeak.sorry">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/icon_app"
        android:label="Sorry动图合成"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Sorry, 有钱就是可以大晒" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <!--选择模板列表-->
        <activity android:name=".ui.list.TemplateListActivity"
            android:label="选择模板"/>
        <activity android:name=".ui.edit.GifEditActivity" />
    </application>

</manifest>
